.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.change-number {
  width: 3rem;
}

.grid-size {
  display: inline-block;
}

.color-palette {
  display: block;
}

.clear-button {
  display: block;
}

.interface {
  display: grid;
  height: 90vh;
  width: 90vh;
  outline: 2px solid blue;
  background-color: white
}

/* .interface > * {
  border-radius: 50%;;
} */