html {
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr .8fr 1fr; 
  transition: all .08s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translate(0, 0);
}

.shake {
  transform: translateX(-2vw);
}

/* Left Side */
.left-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.8fr 1.8fr 1.5fr .5fr;
  background-color: #003366;
  width: 130px;
  justify-self: end;
  border-radius: 30px 0 0 30px;
}

.color-schemes {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.color-schemes > * {
  background-color: #003366;
  border-radius: 20%;
  justify-self: center;
  align-self: end;
  width: 6vw;
  height: 8vh;
  box-shadow: 10px 5px 5px black;
  color: skyblue;
  grid-column: 1 / 3;
}

.tile-shape {
  grid-column: 1 / 3;
  align-self: end;
  justify-self: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 10px 5px 5px black;
  outline: dotted grey 3px;
  background-color: #003366;
  color: skyblue;
}

/* Mid-Section */
.mid-section {
  display: grid;
  grid-template-columns: 1fr;
}

.interface-top-color {
  height: 3vh;
  background-color: #003366;
}

.interface {
  display: grid;
  height: 85vh;
  width: 85vh;
  background-color: white;
}

.interface > * {
  border-radius: 50%;
}

.interface-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.grid-size {
  background-color: white;
}

.number-input {
  width: 3rem;
  height: 1rem;
  margin-top: 1.5px;
  text-align: center;
  border: none;
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

.interface-bottom-color {
  height: 3vh;
  background-color: #003366;
}

/* Right Side */
.right-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.8fr 1.8fr 1.5fr .5fr;
  align-self: stretch;
  background-color: #003366;
  width: 130px;
  justify-self: start;
  border-radius: 0 30px 30px 0;
}

.fun-buttons {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}

.friendly-fire, .chameleon-button {
  grid-column: 1 / 2;
  width: 5rem;
  height: 4rem;
  box-shadow: 10px 5px 5px black;
  font-size: 30px;
  border-radius: 50%;
}

.friendly-fire {
  background-color: skyblue;
}

.chameleon-button {
  background-color: #003366;
  text-decoration: line-through;
  color: red;
  pointer-events: none;
}

.color-circle {
  grid-column: 1 / 3;
  align-self: end;
  justify-self: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  outline: dotted grey 3px;
  box-shadow: 10px 5px 5px black;
}

.color-wheel {
  visibility: hidden;
  width: 200%;
  height: 200%;
  transform: translate(-25%, -25%);
}
